@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@300;400;500;600&display=swap');

.App {
  text-align: center;
  font-family: 'Advent Pro', sans-serif;
  height: 100%;
}

.bg {
  position: relative;
  
}
.bg::before {
  content: "";
  position: absolute;
  background: url('/public/fondo.jpeg') repeat;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: .25;
  z-index: -1;
}
