.o-cont{
    text-align: center;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 5.5rem;

}

.o-cont-search{
    margin:auto;
    padding: 3rem;
    font-family: 'Advent Pro', sans-serif;
    font-size: 0.5rem;
    font-weight: 450;
}