.o-card{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin: 1rem;
    width: 20rem;
    background-color: white;
    border-radius: 5px;
    box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.132);
    cursor: pointer;
}
.o-card:hover{ 
    animation: pulse 2s forwards;
}
@keyframes pulse {
    0%   {transform: scale(1);}
    100% {transform: scale(1.1);}
  }

.o-modal{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 3rem;
    font-family: 'Advent Pro', sans-serif;
    text-align: center;
    
}
.o-modal p{ 
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    font-size: 1.6rem;
    
}

.o-modal-body{
    margin: 0 3rem;
}
.o-cont-img{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.o-cont-img img{
    width: 12rem;
}

.o-cont-ability{
    display: flex;
    justify-content: center;
    flex-direction: row;
}